*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box{
    border: 2px solid black;
    position:absolute;
    padding: 15;
}
.first{
    height: 150px;
    width: 250px;
    top: 100px;
    left: 100px;
}
.second{
    height: 250px;
    width: 200px;
    top: 200px;
    left: 250px;
}
.third{
    height: 120px;
    width: 400px;
    top: 350px;
    left: 110px;
}
.fourth{
    height: 300px;
    width: 150px;
    top: 150px; 
    left:490px;
}